USE [master]
GO
/****** Object:  Database [SIMCIC]    Script Date: 29/06/2018 04:23:32 p. m. ******/
CREATE DATABASE [SIMCIC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SIMCIC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SIMCIC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SIMCIC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SIMCIC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SIMCIC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SIMCIC]
GO
USE [SIMCIC]
GO
/****** Object:  Table [dbo].[CategoriaMedicamento]    Script Date: 29/06/2018 04:23:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaMedicamento](
	[IdCategoria] [int] NOT NULL,
	[NombreCategoria] [varchar](100) NOT NULL,
 CONSTRAINT [PK_CategoriaMedicamento] PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Citas]    Script Date: 29/06/2018 04:23:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citas](
	[IdCita] [int] IDENTITY(1,1) NOT NULL,
	[NombrePaciente] [varchar](250) NOT NULL,
	[Telefono] [int] NOT NULL,
	[Fecha] [varchar](50) NOT NULL,
	[Hora] [varchar](50) NOT NULL,
	[CedulaMedico] [int] NOT NULL,
 CONSTRAINT [PK_Citas] PRIMARY KEY CLUSTERED 
(
	[IdCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diagnosticos]    Script Date: 29/06/2018 04:23:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnosticos](
	[IdDiagnostico] [int] IDENTITY(1,1) NOT NULL,
	[IdPaciente] [int] NOT NULL,
	[APP] [varchar](550) NULL,
	[APnP] [varchar](550) NULL,
	[AQx] [varchar](550) NULL,
	[AGO] [varchar](550) NULL,
	[ATx] [varchar](550) NULL,
	[Motivo] [varchar](550) NOT NULL,
	[PlanMedico] [varchar](550) NOT NULL,
	[Incapacidad] [varchar](100) NULL,
	[ExFx] [varchar](550) NULL,
	[Analisis] [varchar](550) NULL,
	[IdCita] [int] NOT NULL,
 CONSTRAINT [PK_Diagnosticos] PRIMARY KEY CLUSTERED 
(
	[IdDiagnostico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicamentos]    Script Date: 29/06/2018 04:23:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicamentos](
	[IdMedicamento] [int] IDENTITY(1,1) NOT NULL,
	[NombreMedicamento] [varchar](250) NOT NULL,
	[Cantidad] [int] NULL,
	[IdCategoria] [int] NOT NULL,
	[Suministracion] [varchar](100) NULL,
	[FechaVencimiento] [varchar](50) NULL,
	[DosisAdulto] [varchar](50) NULL,
	[DosisNiños] [varchar](50) NULL,
 CONSTRAINT [PK_Medicamentos] PRIMARY KEY CLUSTERED 
(
	[IdMedicamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pacientes]    Script Date: 29/06/2018 04:23:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacientes](
	[Cedula] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](150) NULL,
	[FechaNacimiento] [varchar](50) NULL,
	[Edad] [int] NULL,
	[Sexo] [varchar](50) NULL,
	[Telefono] [int] NULL,
	[Correo] [varchar](150) NULL,
	[Ocupacion] [varchar](50) NULL,
 CONSTRAINT [PK_Pacientes] PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 29/06/2018 04:23:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Cedula] [int] NOT NULL,
	[NombreCompleto] [varchar](200) NOT NULL,
	[Correo] [varchar](150) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[CodigoVerificacion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Usuarios] FOREIGN KEY([CedulaMedico])
REFERENCES [dbo].[Usuarios] ([Cedula])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Usuarios]
GO
ALTER TABLE [dbo].[Diagnosticos]  WITH CHECK ADD  CONSTRAINT [FK_Diagnosticos_Citas] FOREIGN KEY([IdCita])
REFERENCES [dbo].[Citas] ([IdCita])
GO
ALTER TABLE [dbo].[Diagnosticos] CHECK CONSTRAINT [FK_Diagnosticos_Citas]
GO
ALTER TABLE [dbo].[Diagnosticos]  WITH CHECK ADD  CONSTRAINT [FK_Diagnosticos_Pacientes] FOREIGN KEY([IdPaciente])
REFERENCES [dbo].[Pacientes] ([Cedula])
GO
ALTER TABLE [dbo].[Diagnosticos] CHECK CONSTRAINT [FK_Diagnosticos_Pacientes]
GO
ALTER TABLE [dbo].[Medicamentos]  WITH CHECK ADD  CONSTRAINT [FK_Medicamentos_CategoriaMedicamento] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[CategoriaMedicamento] ([IdCategoria])
GO
ALTER TABLE [dbo].[Medicamentos] CHECK CONSTRAINT [FK_Medicamentos_CategoriaMedicamento]
GO
USE [master]
GO
