USE [master]
GO
/****** Object:  Database [SIMCIC]    Script Date: 19/08/2018 10:41:47 p. m. ******/
CREATE DATABASE [SIMCIC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SIMCIC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SIMCIC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SIMCIC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SIMCIC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SIMCIC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SIMCIC]
GO
USE [SIMCIC]
GO
/****** Object:  Table [dbo].[CategoriaMedicamento]    Script Date: 19/08/2018 10:41:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaMedicamento](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](100) NULL,
 CONSTRAINT [PK_CategoriaMedicamento] PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cita]    Script Date: 19/08/2018 10:41:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cita](
	[IdCita] [int] NOT NULL,
	[NombrePaciente] [varchar](20) NULL,
	[Telefono] [int] NULL,
	[Fecha] [varchar](50) NULL,
	[Hora] [varchar](50) NULL,
	[CedulaMedico] [int] NOT NULL,
 CONSTRAINT [PK_Cita] PRIMARY KEY CLUSTERED 
(
	[IdCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diagnostico]    Script Date: 19/08/2018 10:41:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnostico](
	[IdDiagnostico] [int] NOT NULL,
	[IdPaciente] [int] NOT NULL,
	[APP] [varchar](500) NULL,
	[APnP] [varchar](500) NULL,
	[AQx] [varchar](500) NULL,
	[AGO] [varchar](500) NULL,
	[ATx] [varchar](500) NULL,
	[Motivo] [varchar](500) NULL,
	[PlanMedico] [varchar](500) NULL,
	[Incapacidad] [varchar](100) NULL,
	[ExFx] [varchar](500) NULL,
	[Analisis] [varchar](500) NULL,
	[IdCita] [int] NOT NULL,
	[Referencia] [varchar](100) NULL,
	[IPX] [varchar](500) NULL,
 CONSTRAINT [PK_Diagnostico] PRIMARY KEY CLUSTERED 
(
	[IdDiagnostico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicamento]    Script Date: 19/08/2018 10:41:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicamento](
	[IdMedicamento] [int] NOT NULL,
	[NombreMedicamento] [varchar](200) NULL,
	[Cantidad] [int] NULL,
	[IdCategoria] [int] NULL,
	[Suministracion] [varchar](100) NULL,
	[FechaVencimiento] [varchar](50) NULL,
	[DosisAdulto] [varchar](50) NULL,
	[DosisNiños] [varchar](50) NULL,
 CONSTRAINT [PK_Medicamento] PRIMARY KEY CLUSTERED 
(
	[IdMedicamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 19/08/2018 10:41:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[Cedula] [int] NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Apellido] [varchar](150) NULL,
	[FechaNacimiento] [nchar](10) NULL,
	[Edad] [int] NULL,
	[Sexo] [varchar](50) NULL,
	[Telefono] [int] NULL,
	[Correo] [varchar](150) NULL,
	[Ocupacion] [varchar](50) NULL,
 CONSTRAINT [PK_Paciente] PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 19/08/2018 10:41:48 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Cedula] [int] NOT NULL,
	[NombreCompleto] [varchar](200) NULL,
	[Correo] [varchar](150) NULL,
	[Password] [varchar](50) NULL,
	[CodigoVerificacion] [varchar](50) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [FK_Cita_Usuario] FOREIGN KEY([CedulaMedico])
REFERENCES [dbo].[Usuario] ([Cedula])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [FK_Cita_Usuario]
GO
ALTER TABLE [dbo].[Diagnostico]  WITH CHECK ADD  CONSTRAINT [FK_Diagnostico_Cita] FOREIGN KEY([IdCita])
REFERENCES [dbo].[Cita] ([IdCita])
GO
ALTER TABLE [dbo].[Diagnostico] CHECK CONSTRAINT [FK_Diagnostico_Cita]
GO
ALTER TABLE [dbo].[Diagnostico]  WITH CHECK ADD  CONSTRAINT [FK_Diagnostico_Paciente] FOREIGN KEY([IdPaciente])
REFERENCES [dbo].[Paciente] ([Cedula])
GO
ALTER TABLE [dbo].[Diagnostico] CHECK CONSTRAINT [FK_Diagnostico_Paciente]
GO
ALTER TABLE [dbo].[Medicamento]  WITH CHECK ADD  CONSTRAINT [FK_Medicamento_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[CategoriaMedicamento] ([IdCategoria])
GO
ALTER TABLE [dbo].[Medicamento] CHECK CONSTRAINT [FK_Medicamento_Categoria]
GO
USE [master]
GO
