<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SIMCIC.DAL.BD.conexion" connectionString="Data Source=.;Initial Catalog=SIMCIC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>